{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load define_action %}

{% block content %}
    <div class="m-4">
        <h2>Sign Up</h2>
        <small>
            Sign up is limited to Skagit Alpine Club members. You must be an active member and have an email address
            on file with the Skagit Alpine Club to Sign Up.
        </small>
        <hr>
        <form method="post" id="form">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="submit-button my-2" id="signup_button">Sign Up</button>
        </form>
        <div>
            <small>
                Already have an account? <a href="{% url 'login' %}">Login</a>
            </small>
        </div>
    </div>
    <script type="text/javascript">
        const btn = document.getElementById('signup_button');
        const form = document.getElementById('form');
        form.onsubmit = function () {
            btn.disabled = true
        }
    </script>
{% endblock content %}