{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load define_action %}

{% block content %}
    <div>
        <h1 class="text-center">About</h1>
        <p>Help us celebrate 60 years of SAC by climbing mountains! The club will
            attempt to summit all of The Skagit 60
            peaks in 2020 to commemorate the formation of the club in 1960. Details on
            trip planning and progress will
            appear on this website and will be discussed
            at monthly meetings. There is a mountain on the list for every ability and
            every season, so get out there
            and climb in 2020!</p>
        <p>Please be safe out there. Remember, the mountain will always be there. Safety
            is our number one concern at
            the Skagit Alpine Club. Completing the Skagit 60 is not worth anyone's
            life.</p>
        <p>The source code for this website can be found <a
                href="https://github.com/raymond-devries/skagit60">here.</a></p>
    </div>
{% endblock content %}