{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load define_action %}

{% block content %}
    {% if peak.complete %}
        {% define "completed-peak" as completed %}
    {% else %}
        {% define "uncompleted-peak" as completed %}
    {% endif %}
    <h1 class="text-center py-1 px-3 m-3 mb-4 mx-auto {{ completed }}">{{ peak.display_name }}</h1>
    <hr>
    <ul class="list-detail">
        <h2><b>Info</b></h2>
        <li>
            Completed:
            {% if peak.complete %}
                Yes
            {% else %}
                No
            {% endif %}
        </li>
        <li>Latitude: {{ peak.lat }}</li>
        <li>Longitude: {{ peak.long }}</li>
        <li>Elevation: {{ peak.elevation }}ft</li>
        <li><a href="{{ peak.peakbagger_link }}">PeakBagger Link</a></li>
    </ul>
    {% if ticks.exists %}
        <hr>
        <ul class="list-detail">
            <h2><b>Ticks</b></h2>
            {% for tick in ticks %}
                <li>{{ tick.climber.first_name }} {{ tick.climber.last_name }}- {{ tick.date }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if reports.exists %}
        <hr>
        <ul class="list-detail">
            <h2><b>Trip Reports</b></h2>
            {% for tripreport in reports %}
                <li>
                    <a href="{% url 'trip_report_detail' pk=tripreport.pk %}">
                        {{ tripreport.writer.first_name }} {{ tripreport.writer.last_name }}- {{ tripreport.start }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}


{% endblock content %}