{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load define_action %}

{% block content %}
    <div class="m-4 desktop-width">
        <h4 class="mb-3">Are you sure you want to delete your tick of {{ tick.peak.display_name }} on
            {{ tick.date }}?</h4>
        <form method="post" class="desktop-width">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="submit-button delete-color my-2">Delete Tick</input>
        </form>
    </div>
{% endblock content %}