{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load define_action %}

{% block content %}
    <div class="text-center">
        <h5><b>Trip Report</b></h5>
        <h2>{{ tripreport.peak }}</h2>
        <h4>{{ tripreport.writer.first_name }} {{ tripreport.writer.last_name }}</h4>
        <h6>{{ tripreport.start.month }}/{{ tripreport.start.day }}/{{ tripreport.start.year }}
            {% if show_end %}
                - {{ tripreport.end.month }}/{{ tripreport.end.day }}/{{ tripreport.end.year }}</h6>
            {% endif %}
    </div>
    <hr>
    <div class="d-lg-flex justify-content-around">
        <div>
            {% if tripreport.permits is not None %}
                <p>Permits: {{ tripreport.permits }}</p>
            {% endif %}
            <p>Difficulty: {{ tripreport.get_difficulty_display }}</p>
            {% if tripreport.route_name is not None %}
                <p>Route Name: {{ tripreport.route_name }}</p>
            {% endif %}
            {% if tripreport.snow_level is not None %}
                <p>Snow Level: {{ tripreport.snow_level }} ft</p>
            {% endif %}
            {% if tripreport.gear != '' %}
                <p>Gear: {{ tripreport.gear }}</p>
            {% endif %}
            <p>
                {% for time in times %}
                    From {{ time.get_start_point_display }} to {{ time.get_end_point_display }}: {{ time.time }} hours
                    <br>
                {% endfor %}
            </p>
            {% if tripreport.weather != '' %}
                <p>Weather: {{ tripreport.weather }}</p>
            {% endif %}
            {% if tripreport.report != '' %}
                <p>{{ tripreport.report }}</p>
            {% endif %}
        </div>
        <div style="min-width: 200px">
            <h4><b>Info</b></h4>
            <ul>
                <li>Latitude: {{ tripreport.peak.lat }}</li>
                <li>Longitude: {{ tripreport.peak.long }}</li>
                <li>Elevation: {{ tripreport.peak.elevation }}ft</li>
                <li><a href="{{ tripreport.peak.peakbagger_link }}">PeakBagger Link</a></li>
            </ul>
        </div>
    </div>
    <div class="trip-report-images">
        {% for image in images %}
            <img src="{{ image.image.url }}" alt="An attached trip report image"
                 class="img-fluid rounded mb-3">
        {% endfor %}
    </div>
    <hr>
    <h4>Comments</h4>
    <div id="app">
        {% if request.user.is_authenticated %}
        <div class="form-group">
            <label for="comment_text_box">Comment</label>
            <textarea class="form-control" id="comment_text_box" rows="6"
                      v-model="added_comment"></textarea>
            <button type="button" class="submit-button my-4" v-on:click="addComment">Add Comment</button>
        </div>
        {% endif %}
        <div v-for="(comment, index) in comments" class="my-3">
            <div v-if="showEdit(comment.id)">
                <textarea class="form-control" id="comment_text_box" rows="6" v-model="edited_comment">
                </textarea>
                <button type="button" class="submit-button my-4" v-on:click="editComment(comment.id, index)">
                    Edit Comment
                </button>
            </div>
            <div class="border border-light rounded" v-else>
                <div class="p-3">
                    <h6 class=>[[comment.first_name]] [[comment.last_name]]
                        <br><small>[[comment.time]]</small>
                    </h6>
                    <p>[[comment.comment]]</p>
                    <div v-if="comment.is_owner && !editing">
                        <button type="button" class="submit-button small-button"
                                v-on:click="startEdit(comment.id, comment.comment)">Edit
                        </button>
                        <button type="button" class="submit-button delete-color small-button"
                                v-on:click="deleteComment(comment.id, index)">Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        let app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                comment_api: ('{{ request.scheme }}' + '://' + '{{ request.get_host }}' + '/api/report_comment/'),
                comments: {{ comments|safe }},
                added_comment: '',
                trip_report_id: {{ tripreport.id }},

                edited_comment: '',
                edit_comment_id: null,
                editing: false,

            },
            methods: {
                addComment: function () {
                    axios.post(this.comment_api,
                        {
                            'comment': this.added_comment,
                            'trip_report': this.trip_report_id
                        })
                        .then(response => {
                            let data = response.data;
                            data['is_owner'] = true;
                            this.comments.unshift(data);
                            this.added_comment = '';
                        })
                },
                deleteComment: function (comment_id, index) {
                    axios.delete(this.comment_api + comment_id + '/')
                        .then(this.$delete(this.comments, index))
                },
                startEdit: function (comment_id, comment) {
                    this.edit_comment_id = comment_id;
                    this.edited_comment = comment;
                    this.editing = true;
                },
                showEdit: function (id) {
                    return id === this.edit_comment_id
                },
                editComment: function (comment_id, index) {
                    axios.patch(this.comment_api + comment_id + '/',
                        {
                            'comment': this.edited_comment,
                            'trip_report': this.trip_report_id
                        })
                        .then(response => {
                            let data = response.data;
                            data['is_owner'] = true;
                            this.$delete(this.comments, index);
                            this.comments.splice(index, 0, data);
                            this.edited_comment = '';
                            this.edit_comment_id = null;
                            this.editing = false;

                        })
                }

            }

        })
    </script>
{% endblock content %}