{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block head %}
    <!--suppress VueDuplicateTag -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script src="https://unpkg.com/vue-filepond@6.0.2/dist/vue-filepond.min.js"></script>
{% endblock %}

{% block content %}
    <div class="m-4">
        <h2>Trip Report</h2>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <hr>
            <div id="app">
                <h5><b>Times</b></h5>
                <div v-for="time in times" class="mb-3 d-flex align-items-center">
                    <h5 class="mr-3">
                        [[ time.start_point_display ]] to [[ time.end_point_display ]]: [[ time.time ]] hours
                    </h5>
                    <button type="button" class="delete-color submit-button small-delete"
                            v-on:click="deleteTime(time.id)">
                        <b>Delete</b>
                    </button>
                </div>
                <div class="form-group">
                    <div class="form-row mb-3">
                        <div class="col">
                            <label for="start_point_input">Start Point*</label>
                            <select id="start_point_input" class="form-control" v-model="start_point">
                                <option v-for="choice in time_choices" :value="choice[0]">[[ choice[1] ]]</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="end_point_input">End Point*</label>
                            <select id="end_point_input" class="form-control" v-model="end_point">
                                <option v-for="choice in time_choices" :value="choice[0]">[[ choice[1] ]]</option>
                            </select>
                        </div>
                    </div>
                    <label for="time_input">Time taken in hours*</label>
                    <input type="number" class="form-control" id="time_input" v-model="hours"
                           v-on:keypress.enter.prevent v-on:keypress.enter="addTime">
                </div>
                <button type="button" class="submit-button" v-on:click="addTime">
                    Add Time
                </button>
                <hr>
                <h4>Images</h4>
                <h6>You can upload a maximum of 4 images</h6>
                <file-pond
                        allow-multiple="true"
                        :max-files="max_uploads"
                        accepted-file-types="image/jpeg, image/png"
                        image-resize-target-height="1600"
                        image-resize-target-width="1600"
                        image-resize-upscale="false"
                        image-resize-mode="contain"
                ></file-pond>

                <div class="previously-uploaded-images">
                <div v-for="image in previously_uploaded_images" class="mt-3 mb-4">
                    <img :src="image.url" alt="An image attached to the trip report by the user"
                    class="img-fluid rounded">
                    <button type="button" class="delete-color submit-button"
                    v-on:click="removeImage(image.id)"><b>x</b></button>
                </div>
                </div>
            </div>
            <hr>
            {% if tripreport.published %}
                <input type="submit" class="submit-button my-2" name="save_report" value="Save Report">
            {% else %}
                <input type="submit" class="submit-button my-2" name="save_report" value="Save Draft">
                <input type="submit" class="submit-button my-2" name="publish_report" value="Publish Report">
            {% endif %}
        </form>
        {% if tripreport.peak is not None %}
            <form>
                <button type="submit" formaction="{% url 'trip_report_delete' pk=tripreport.pk %}"
                        class="submit-button delete-color my-3">
                    Delete Report
                </button>
            </form>
        {% endif %}
    </div>
    <script type="text/javascript">
        let image_api_url = '{{ request.scheme }}' + '://' + '{{ request.get_host }}' + '/api/report_image/';

        vueFilePond.setOptions({
            server: {
                url: image_api_url,
                withCredential: true,
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                process: {
                    ondata: (formData) => {
                        formData.append('trip_report', {{ tripreport.id }});
                        return formData;
                    },
                    onload: (response) => JSON.parse(response).id,
                },
                revert: ((uniqueFieldId, load, error) => {
                    axios.delete(image_api_url + uniqueFieldId + '/')
                        .then(load())
                        .catch(error_message => error(error_message))
                })
            },


        });

        let app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                trip_report_id: {{ tripreport.id }},
                times: {{ times|safe }},
                time_choices: {{ time_choices|safe }},
                time_api: ('{{ request.scheme }}' + '://' + '{{ request.get_host }}' + '/api/report_time/'),
                image_api: image_api_url,
                start_point: 'TH',
                end_point: 'C',
                hours: null,
                previously_uploaded_images: {{ images|safe }},
                max_uploads: {{ max_uploads }}
            },
            components: {
                FilePond: vueFilePond.default(
                    FilePondPluginFileValidateType,
                    FilePondPluginImageExifOrientation,
                    FilePondPluginImageResize,
                    FilePondPluginImageTransform,
                    FilePondPluginImagePreview)
            },
            methods: {
                deleteTime: function (time_id) {
                    axios.delete(this.time_api + time_id + '/')
                        .then(this.$delete(this.times, time_id))
                        .catch(error => console.log(error))
                },
                addTime: function () {
                    axios.post(this.time_api,
                        {
                            'start_point': this.start_point,
                            'end_point': this.end_point,
                            'time': this.hours,
                            'trip_report': this.trip_report_id
                        })
                        .then(response => {
                            this.$set(this.times, response.data.id, response.data);
                            this.hours = null;
                        })
                },
                removeImage: function (image_id) {
                    axios.delete(this.image_api + image_id + '/')
                    .then(() => {
                        this.$delete(this.previously_uploaded_images, image_id);
                        this.max_uploads += 1
                    })
                    .catch(error => console.log(error))
                }
            }
        })
    </script>
{% endblock content %}

