@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #242326;
}

hr {
    border: 1px solid #DADCDE;
    border-radius: 1px;
}


.space {
    margin: 20px 6%;
}

.remove-link-style {
    color: inherit;
}

.remove-link-style:hover {
    color: inherit;
    text-decoration: none;
}

.submit-button {
    background-color: rgb(42, 86, 105);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 0.6em;
    width: 100%;
}

.uncompleted-peak {
    background-color: #780700;
    width: fit-content;
    border-radius: 6px;
    max-width: 85%;
}

.completed-peak {
    background-color: #007856;
    width: fit-content;
    border-radius: 6px;
    max-width: 85%;
}

/*Home Page*/
.list-of-peaks {
    padding-inline-start: 0;
}

.peaks {
    font-size: 20px;
    list-style-type: none;
}

/*Peak Detail*/
.list-detail {
    font-size: 20px;
}

@media only screen and (min-width: 992px) {
    .desktop-width {
        max-width: 500px;
    }

}

@media only screen and (min-width: 1250px) {
    .max-width {
        max-width: 1150px;
        margin-right: auto;
        margin-left: auto;
    }

}
