{% extends 'base.html' %}

{% block content %}
    <div class="desktop-width">
        <h3>{{ user.first_name }} {{ user.last_name }}</h3>
        <h6>Username: {{ user.username }}</h6>
        <h6>Email: {{ user.email }}</h6>
        <form>
            <button type="submit" formaction="{% url 'edit_profile' %}" class="submit-button my-2">
                Edit Profile
            </button>
        </form>
        <form>
            <button type="submit" formaction="{% url 'password_change' %}" class="submit-button my-3">
                Change Password
            </button>
        </form>
        <hr>
        <small class="my-3">Go back <a href="{% url 'home' %}">Home</a></small>
    </div>
{% endblock content %}